/**
 * Style for the blogg
 */
 @blogHoverColor: #FF4136;
.blog-toc {
    font-family: @fontFamilyBlog;
    h4 {
        font-family: @fontFamilyBlog;
    }
    ul {
        list-style: none;
        padding: 0;

        li a:hover {
            color: @blogHoverColor;
            text-decoration: none;       }
    }
}

.block-about {
    font-family: @fontFamilyBlog;
    h4 {
        font-family: @fontFamilyBlog;
    }
}

.block.toc.article-toc {
    font-family: @fontFamilyBlog;
    h4 {
        font-family: @fontFamilyBlog;
    }
}

.blog-list-item {
    font-family: @fontFamilyBlog;
    overflow: auto;
    border-top: 1px solid @borderBylineColor;
    h1 {
        font-family: @fontFamilyBlog;
        border-bottom-color: rgba(255, 255, 255, 0);
        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: @blogHoverColor
            }
        }
    }
    h2, h3, h4 {
        font-family: @fontFamilyBlog;
    }
}

.article.blog * {
    font-family: @fontFamilyBlog;
}

.article.blog-post {
    margin-bottom: 3em;
    font-family: @fontFamilyBlog;

    h3 {
        clear: both;
    }
    h1, h2, h3, h4 {
        font-family: @fontFamilyBlog;
    }
}

.header-anchor {
    display: none;
}

.readmore a {
    color: inherit;

    &:hover {
        color: @blogHoverColor;
    }
}

.meta-header {
    font-size: @fontSizeSmall;
    line-height: 1.5/@fontSizeSmall;
    font-style: italic;
    display: block;
    margin-top: 23px;
}

.meta-footer p {
    font-size: @fontSizeSmall;
    line-height: 1.5/@fontSizeSmall;
}
