/**
 * Main navbar and responsive navbar.
 */

 .rm-default li li {
     min-width: 6em;
 }
.rm-navbar {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 28px;
    line-height: 0;
    font-family: @fontFamilyNavbar;
}

.rm-desktop {
    text-align: center;

    li {
        a {
            padding: 1em 0.6em;
            &:hover {
                color: @logoColor;
                text-decoration: none;
            }
        }
        ul {
            background-color: @bgColorRmSub;
        }
    }
}

.rm-button
{
    font-size: 1.25em;
    margin-top: -6px;
}
.rm-max .rm-mobile {
    background-color: @bgColorRmSmall;
    color: @colorRmSmall;
    padding-top: 60px;
    transition: none;

    li {
        &:first-of-type {
            border-top: 1px solid @bgColorRmSmallHover;
        }
        box-shadow: none;
        border-bottom: 1px solid @bgColorRmSmallHover;
        .rm-submenu-button {
            background-color: @bgColorRmSubMenuButton;
            padding: 28px;
            margin: 0;
            box-shadow: inherit;
            border-radius: 0;
            &:hover {
                background-color: @bgColorRmSubMenuButtonHover;
            }
        }
        a:hover {
            text-decoration: none;
            background-color: @bgColorRmSubMenuButtonHover;
            color: @logoColor;
        }
    }
    .rm-show-submenu {
        padding-left: 0;
        li {
            &:hover {
                text-decoration: none;
                background-color: @bgColorRmSubMenuButtonHover;
                color: @logoColor;
            }
            a {
                padding-left: 1.5em;
            }
        }
    }
}

.rm-small-wrapper {
    text-shadow: none;
}
