/**
 * Base style to affect HTML elements on a general scale.
 */
@bgColorHtml: black;

@bgColorBody: white;
@colorBody: #333;

@bgColorHeader: inherit;

@bgColorFooter: #333;
@colorFooter: #ccc;

@bgColorRmSub: rgba(255, 255, 255, 0.8);

@colorRmSmall: white;
@bgColorRmSmall: #333;
@bgColorRmSmallHover: lighten(@bgColorRmSmall, 15%);

@bgColorRmSubMenuButton: lighten(@bgColorRmSmall, 10%);
@bgColorRmSubMenuButtonHover:lighten(@bgColorRmSmall, 25%);

@bgColorListSelected: #eee;

@borderBylineColor: #888;
@borderFooterTopColor: #888;
@borderFooterBottomColor: #888;

@fontFamilyNavbar: @fontFamilyBody;
@fontFamilySiteLogo: @fontFamilyBody;

html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
}

body {
    margin: 0;
    padding: 0;
    color: @colorBody;
    background-color: @bgColorBody;
    #desinax-hgrid.font(@fontSizeBody);
}

img {
    max-width: 100%;
}

// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();
