/**
 * Layout using vgrid.
 */

/**
 * General layout
 */
.row {
    #desinax-vgrid.row();
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
	padding: 0;
}

.wrap-all {
    overflow-x: hidden;
}
.outer-wrap {
    padding: 0 5px 0 4px;
    &.outer-wrap-footer {
        background-color: @bgColorFooter;
        color: @colorFooter;
    }
    &.outer-wrap-flash {
        padding: 0;
    }
    &.outer-wrap-main {
        margin-bottom: 1.5em;
    }
    &.outer-wrap-header {
        background-color: @bgColorHeader;
        padding-bottom: 4px;
    }
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header {
        #desinax-vgrid.showGrid(@gridImage);
    }
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
}

.inner-wrap-main {
    min-height: 30em;
}


.inner-wrap-header {
    #desinax-vgrid.grid(100%);
}

.inner-wrap-footer {
    border-top: 1px solid @borderFooterTopColor;
}

// Header
.region-header-col-1 {
    #desinax-vgrid.column(4);
}
.region-header-col-3 {
    #desinax-vgrid.column(4);
}
.region-header-col-2 {
    #desinax-vgrid.column(16);
}

// Flash
.region-flash {
    #desinax-vgrid.column(@columns);
    img {
        float: left;
    }
}

// Breadcrum
.region-breadcrumb {
    #desinax-vgrid.column(@columns);
    margin-top: 0.5em;

    .breadcrumb-list {
        li {
            display: inline;

            &::after {
                content: " » ";
            }
            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Main
.region-main {
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(2);

    &.has-sidebar {
        #desinax-vgrid.push(0);

        &.has-sidebar-right {
            #desinax-vgrid.column(@columns * 3 / 4 - 1);
        }
        &.has-sidebar-left {
            #desinax-vgrid.column(@columns * 3 / 4 - 1);
            #desinax-vgrid.push(1);
        }
        &.has-sidebar-left.has-sidebar-right {
            #desinax-vgrid.column(@columns * 1 / 2);
            #desinax-vgrid.push(1);
        }
    }
}

.region-sidebar-right {
    #desinax-vgrid.column(@columns * 1 / 4);
    #desinax-vgrid.push(1);

    &.has-sidebar-left {
        #desinax-vgrid.column(@columns * 1 / 4 - 1);
        #desinax-vgrid.push(1);
    }
}
.region-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4);

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 1 / 4 - 1);
    }
}

.next-previous {
    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
    .next {
        float: right;
    }
    .previous {
        float: left;
    }
    .clearfix();
}

.toc {
    li {
        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
        &.selected {
            background-color: @bgColorListSelected;
        }
        &.section-header {
            font-weight: bold;
            margin-top: 1.5em;
        }
    }
}

// Footer
.region-footer {
    #desinax-vgrid.column(@columns);

    a {
        color: inherit;
    }
}

.footer-column-wrapper {
    border-bottom: 1px solid @borderFooterBottomColor;
    margin-bottom: 23px;
    .clearfix();
}

.footer-column {
    #desinax-vgrid.column(@columns / 3);
}

.footer-column-x {
    min-height: 15em;
    padding: 0 1em;
}

.footer-column-1,
.footer-column-2  {
    border-right: 1px solid @borderFooterBottomColor;
}

.site-footer {
    text-align: center;
}
